# Laravel-specific ignores
*.sqlite
storage/
bootstrap/cache/

# Dependencies
vendor/
node_modules/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
storage/logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
.phpunit.result.cache
.phpspec.yml

# Build artifacts
public/css/app.css
public/js/app.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled class cache
__pycache__/
*.py[cod]
*$py.class

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Temporary folders
tmp/
temp/
*.tmp

# Archives
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.gz
*.rar
*.7z

# SQLite databases
*.db
*.db.*

# Laravel compiled services
compiled.php
services.json

# Laravel Mix
.mix/

# Laravel Passport
oauth-private.key
oauth-public.key

# Laravel Telescope
.telescope/

# Laravel Vapor
.vapor/

# Laravel Sanctum
sanctum.log

# Composer
composer.phar

# PHP extensions
*.so
*.dll
*.dylib

# Java/Gradle
target/
.gradle/
*.class
*.jar
*.war

# Python
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/

# Ruby
*.gem
*.rbc
.bundle/
.config/
.yardoc/
_yardoc/
.rdoc-cache
pkg/
spec/reports/
test/tmp/
test/version_tmp/
tmp/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
.npm
.nyc_output
.nycrc
istanbul.yml
.coveralls.yml
.travis.yml
circle.yml
appveyor.yml
.codeclimate.yml
.codacy.yml
.eslintcache
.jscsrc
.jshintrc
.editorconfig
.firebaserc
.angular-cli.json
.babelrc
.babelrc.js
.browserslistrc
.commitlintrc.js
.eslintignore
.eslintrc.js
.eslintrc.json
.flowconfig
.groc.json
.hound.yml
.jsbeautifyrc
.jscs.json
.jscsrc
.lint
.linthtmlrc
.mdlrc
.nyc_output
.nycrc
.stylelintrc
.tslint.json
.watsonrc
.yarn-integrity
.yo-rc.json
ava.config.js
jest.config.js
mocha.opts
mocharc.json
rollup.config.js
tsconfig.json
webpack.config.js
webpack.config.node.js
.webpackrc.js
postcss.config.js
prettier.config.js
babel.config.js
next.config.js
nuxt.config.js
nuxt.config.ts
gatsby-config.js
gatsby-node.js
gatsby-browser.js
gatsby-ssr.js
vue.config.js
vite.config.js
vitest.config.js
cypress.config.js
playwright.config.js
angular.json
ionic.config.json
capacitor.config.json
capacitor.config.ts
ionic.starter.json
electron-builder.config.js
electron-builder.config.ts
main.js.map
preload.js.map
renderer.js.map
main.ts.map
preload.ts.map
renderer.ts.map
app.html
index.html
dist-electron/
dist/
build/
.next/
.nuxt/
.output/
.svelte-kit/
.vercel/
.netlify/
static/.git
public/.git
.nexus/
.nyc_output
coverage/
.nyc_output/
.fish/
fish/
.fusebox/
.haxelib/
.hg/
.ice/
.idea/
.img/
.influxql
.ini
.ipynb_checkpoints/
.irb_history
.java-version
.jazzy.yaml
.jekyll-cache/
.jekyll-metadata
.jenkins.sh
.jenv-version
.jest/
.jestrc
.jobs/
.js
.jsbeautifyrc
.jscpd.json
.jshintignore
.jshintrc
.jspm
.jupyter/
.kitchen.yml
.kube/
.landscape.yaml
.language-subtag-registry
.language-tool/
.leetcode/
.lerna/
.lgtm
.lighthouseci/
.lintstagedrc
.listing
.loadpath
.local
.localhistory/
.locals
.log
.log.*
.login
.login_token
.logout
.ls-lint.yml
.lsp/
.lss
.luacheckrc
.luacov
.luna/
.lvimrc
.m/
.macos
.maintainers
.manpath
.markdownlint.json
.match_history
.mathlive/
.maven/
.mc
.mdb
.mdc.json
.mdx
.memdump
.mergesources.yml
.merlin
.meteor/
.metrics
.mfractor/
.micropython
.minikube/
.minimatchrc
.minimist
.miniprogram/
.minishift/
.mise.toml
.mix/
.mjmlconfig
.mk
.mochaopts
.mock/
.mod/
.model/
.module-cache/
.modules
.monaca/
.monitorix/
.mongorc.js
.mono/
.moon/
.mruby/
.msgpack
.msmtprc
.msync.yml
.mtj.tmp/
.multitail.conf
.muttrc
.mysql_history
.nakama/
.nano
.nano-history
.nasm
.native/
.nave/
.ncdc-config.json
.ncf
.ncr
.ndconfig
.nelh
.nemo/
.netrc
.newspaper.config
.nflx
.ngrok2/
.nia/
.ninja_deps
.ninja_log
.nixd/
.nixd.json
.njsscan/
.nlia/
.nlia.json
.nlu/
.nm/
.nmap
.nmp/
.nn/
.no-sublime-package
.node_repl_history
.node-version
.nodemon.json
.nodu
.nojekyll
.nomad
.nomad.json
.noms/
.nools
.nop
.noserc
.nox/
.npm/
.npmignore
.npmrc
.nra/
.nrepl-port
.nsconfig
.nsf
.nsi
.nsis
.nt
.nu
.nuget/
.nuke/
.nushell/
.nvm/
.nyc_output/
.nycrc
.nycrc.json
.ods
.oil/
.okina/
.old
.oldold
.on-save.json
.onepassword/
.opam
.openapi-generator/
.openapi-generator-ignore
.openpublishing.build.log
.openpublishing.publish.config.json
.openpublishing.redirection.json
.org-id-locations
.org-roam/
.org-version
.orgmode
.ormconfig.json
.osx
.out
.outs
.ovpn
.overshare/
.owo
.oxidize/
.owns
.pac
.pac.pac
.pac.zsh
.package-lock.json
.packages
.packpath
.pairs
.paket/
.panda/
.pandoc/
.pants.d/
.papermill/
.parcel-cache/
.parallel/
.params
.parity/
.pass
.passes
.passwd
.password
.passwords
.passwrd
.patches/
.path
.path.zsh
.pdb
.pdf
.pem
.percol.d/
.perf
.perl
.perlbrew/
.perltidyrc
.pfx
.pgadmin4
.pgpass
.pgsql
.phan/
.php_cs
.php_cs.dist
.php_cs.php
.php_cs.cache
.phpdoc/
.phpspec.yml
.phpstorm.meta.php
.phpunit.result.cache
.phpversion
.pip/
.pip.conf
.pipfile
.pipfile.lock
.piplup
.pivotal
.pkg.tar.xz
.pkger/
.pl
.plan
.plantuml
.playground
.pm2/
.pmd
.pmt
.poggit.yml
.pointless
.postcssrc.js
.postgres
.postman/
.powenv
.powerlevel10k.zsh-theme
.ppk
.pre-commit-config.yaml
.precomp
.prettierignore
.prettierrc
.prettierrc.json
.prettierrc.js
.prettierrc.yml
.prettierrc.yaml
.preview/
.printer
.priority.log
.pro
.process-compose.json
.procfile
.procfile.dev
.projections.json
.project
.project-settings.yml
.projectile
.projects
.projections.json
.proselintrc
.protolint.yaml
.provider
.pry_history
.ps1
.psd1
.psm1
.psql
.psqlrc
.pst
.pub/
.publishrc
.pullapprove.yml
.puppet-lint.rc
.puppet/
.purdy/
.pwd
.pwd.lock
.py
.py-repl-history
.py.test
.py3
.py3versions
.pyca/
.pycheckstyle
.pyc
.pydevproject
.pydistutils.cfg
.pylintrc
.pypirc
.pyre/
.pytest_cache/
.python
.python-history
.python-version
.python_packages/
.pythonrc
.pytype/
.pyup.yml
.qmake.cache
.qmake.stash
.qqest/
.qrl/
.qt_for_python/
.qtconsole-history
.query
.quickfix
.r
.rakeTasks
.raku
.rancher/
.random_seed
.range
.raw
.rbenv-gemsets
.rbenv-version
.rbenv-vars
.rbi/
.rc
.rcs
.rdsTempFiles
.readthedocs.yml
.rebar
.rebar3
.recommenders
.red
.rediscli_history
.redwood/
.reduxrc
.reflow
.reftests
.remarkrc
.remote-sync.json
.repl_history
.repo-metadata.json
.reviewboardrc
.revision
.revision.txt
.rex/
.rhost
.rhosts
.richacc
.rid
.rider/
.robots.txt
.rocketeer/
.rodeo
.rollup.cache/
.root
.ropeproject/
.ropper/
.rpt2_cache/
.rspec
.rspec_parallel
.rsync-filter
.rsync_cache
.rts2_cache_c
.ru
.rubocop.yml
.rubocop_todo.yml
.ruby-gemset
.ruby-version
.run/
.run.xml
.rustfmt.toml
.rustup/
.rvmrc
.s
.s3.json
.s3backupstatus
.s3cfg
.sail/
.salt/
.sam/
.samconfig.toml
.sass-cache/
.sass-lint.yml
.save
.scala_dependencies
.scala_history
.scalafmt.conf
.sconf_temp/
.sconsign.dblite
.scrapy
.screenrc
.script
.scripting
.scss-lint.yml
.secrets
.secret
.secret_key
.semgrep/
.semver
.sendmail
.serverless/
.sessions
.set/
.settings
.settings.php
.settings/
.settings.bak
.settings.xml
.sf/
.shader
.shell.pre-oh-my-zsh
.shells
.shuttle.yml
.sicily/
.sidekiq
.sig
.signing.asc
.sinopia/
.site
.size
.sln
.slugignore
.smileys/
.smileys.json
.smushit-status
.snakeeyes/
.snakemake/
.snyk
.so
.softint
.solhint.json
.soliumrc.json
.sops.yaml
.sort.py
.spacemacs
.spaceship
.spacetelescope/
.spago/
.sparse-image
.specificator/
.spellcheck.yaml
.spellcheck.json
.spellright
.spin.lock
.spinner.log
.spk
.spl
.splitdiff
.spotdl-cache/
.spotlight-v100
.spotter
.spyderproject
.spyproject
.sql
.sqlite
.sqlite3
.sqlite_history
.src
.src/
.ssh/
.sshkey
.sshkey.pub
.stack-work/
.stestr/
.stickler.yml
.stk/
.stories.json
.style-dictionary/
.style.yapf
.styleci.yml
.stylelintignore
.stylelintrc
.stylelintrc.json
.stylelintrc.yaml
.stylelintrc.yml
.stylish-haskell.yaml
.sublime-gulp.cache
.sublime-project
.sublime-workspace
.subversion
.sudo_as_admin_successful
.sunw
.suo
.surge/
.surum/
.sus
.suspend
.svn/
.svnignore
.svelte-kit/
.svn/
.sw
.swcrc
.swiftlint.yml
.swiftpm/
.swift-version
.swp
.sws
.sxhkdrc
.sym
.symbol
.symbol_cache
.sync-conflict-
.synthquota
.sys
.system/
.system/
.tachometerrc.json
.tailwind.js
.tailwindrc.js
.tap
.target
.tconn/
.tcshrc
.teamcity/
.terraform/
.terraform.lock.hcl
.terraformrc
.testbss
.testr.conf
.texlipse
.tfignore
.tfstate
.tfstate.backup
.tfs/
.tgz
.thumbnails
.thunderbird/
.tm_properties
.tm_language
.tm_properties
.tm_snippet
.tmb
.tmp
.tmp/
.tmux.conf
.tmuxinator/
.tmuxlocal
.tmuxlocal.yaml
.tns
.tny
.toaster/
.tokeignore
.tokengems
.tokyorc
.toml
.tox
.tox/
.transients_purge.log
.trash
.trashes
.treeherder.yml
.trillian/
.triton/
.truffle.js
.truffle.json
.trust/
.ts_build/
.tsconfig.json
.tshistory
.tsnode
.tsx
.tt
.ttf
.ttf2eot
.ttf2svg
.tugboat
.turbo/
.tv
.tx/
.txt
.type
.types
.typescript
.typings
.typo3
.uassets
.ubs
.ubs_cache/
.udunits2-compliant
.uf2
.ui
.uid
.um
.unibeautifyrc
.unison/
.universal_indent_guide
.un~$
.un~
.un~
.up/
.update
.update.json
.upm/
.upt
.uptake/
.uritemplate
.url
.urlshortnr
.urls
.usbconfig
.user.ini
.users
.utc
.util
.utilities
.utils
.uv/
.v
.vagrant/
.vagrant
.vala
.validcrc
.vale/
.vagrant/
.vagrant
.vapor/
.vault/
.vcpkg/
.vcr/
.venv
.venv/
.verb.md
.verbrc.md
.verified
.verify/
.verifyrc
.verilog_config
.version
.version.json
.versions
.vgextensions/
.vhdl_ls/
.vhs/
.vim
.vim.custom
.vim.local
.vim/
.viminfo
.vimrc
.vimsettings
.viper
.viper.go
.virtual_documents/
.virtualenvs/
.vis/
.viscosity/
.visudo
.visual-studio-marketplace
.visual_studio_code/
.vitest/
.vitest.config.js
.vitest.config.ts
.vitest.setup.js
.vitest.setup.ts
.vitest.workspace.js
.vitest.workspace.ts
.vite.config.js
.vite.config.ts
.vm/
.vmdk
.volta/
.voorhees
.vs/
.vscode/
.vscode-test/
.vscode-insiders/
.vsls.json
.vte
.vtf
.vtk
.vtl
.vuepress/
.vuze/
.vvv/
.vvvvvv/
.w3m/
.w3tc/
.waitkill.log
.wallaby.js
.wallaby.conf.js
.wallaby.conf.json
.wallaby.conf.ts
.watchmanconfig
.watchr
.watcher.json
.wdio.conf.js
.wdio.conf.ts
.web-extension/
.web-mode
.web-server-pid
.web-types.json
.webassets-cache
.webconfig
.webide/
.webpack/
.webpackrc.js
.weechat/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well-known/
.well......
```php
<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Support\Facades\Schema;

return new class extends Migration
{
    /**
     * Run the migrations.
     */
    public function up(): void
    {
        Schema::table('contracts', function (Blueprint $table) {
            $table->decimal('down_payment', 10, 2)->nullable()->after('amount');
        });
    }

    /**
     * Reverse the migrations.
     */
    public function down(): void
    {
        Schema::table('contracts', function (Blueprint $table) {
            $table->dropColumn('down_payment');
        });
    }
};
```